<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
<body>

        <div class = "top">

                <h2> (name) Quotes</h2>
                <div class = "t_right">
                        <a href = "#">Back</a>

                        <form action="#" method = "post">
                            {%csrf_token%}
                            <input type="submit" name = "submit" value = "Logout">
                        </form>

                </div>

        </div>

        <div>
            quotes

        </div>



</body>
</html>